 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <p>Hi there! I’m Emily. 
                        I am a Seattle-based theatre director who doubles as a painter and digital artist. Think a superhero/mild-mannered alter-ego situation. Which is which? You decide. Either way, I’ve been creating art in some way or another all my life.
                        
                        I love to experiment with different art mediums and push myself to create something everyday. 
                        
                        For more examples of what I do, check out my portfolio, or head over to my social media  (and feel free to give it a follow while you’re at it).
                    </p>
                    <p>Instagram: <a class="about-link" href="https://www.instagram.com/emjoyberkley/" target="_blank">instagram.com/emjoyberkley</a>
                    </p>
                       <p>Facebook: <a class="about-link" href="https://www.facebook.com/emjoyart/" target="_blank">facebook.com/emjoyart</a>
                       </p>
                        
                        <p>For commissions, contact me below:
                
                        
                        </p>
                </div>
                <div class="col-md-5 about-right-column">
                    <p>~All proceeds from commissions benefit the Treat Fund for Olive, my eternally grumpy black cat~ </p>
                    <img src="/img/grumpy_olive.png" class="olive">
                </div>
             
            </div>
        </div>
    </section>
