 <!-- Portfolio Modals -->
 {% for item in site.data.portfolio %}
     {% if forloop.index > 9 %}
        {% break %}
     {% endif %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container one-hundred">
                <div class="row one-hundred">
                    <div class="col-lg-8 col-lg-offset-2 one-hundred">
                        <div class="modal-body one-hundred">
                            <img src="/img/portfolio/{{ item.image }}" class="img-responsive img-centered portfolio-image" alt="{{ item.title }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}