
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Shop Originals</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-flex-row">
                {% for item in site.data.shop.allProducts %}
                    <div class="portfolio-flex-item portfolio-item">
                        <a href="/shop_originals/{{ item }}/index.html" class="original-link">
                            <img src="/img/shop/{{ site.data.shop[item].thumbnail }}" class="img-responsive" alt="{{ site.data.shop[item].title }}">
                            <div class="shadow-caption">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

