
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container portfolio-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Shop</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1">
                    <a href="/shop_originals/index.html">
                        <div class="link-box">
                            Originals
                        </div>
                    </a>
                </div>
                <div class="col-sm-5">
                    <a href="https://society6.com/emjoycreates" target="_blank">
                        <div class="link-box">
                            Society 6
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>